<div class="calendar">
  <h1>{{getMonthName()}} {{getYear()}}</h1>
  <div class="days">
    <div
        *ngFor="let weekday of weekdays; index as i"
        [ngStyle]="{'grid-row': 1, 'grid-column': i + 1}">
      {{weekday}}
    </div>
    <div
        *ngFor="let cell of getCells()"
        (click)="dayFocusService.setFocusedDay(cell.date)"
        [ngClass]="cell.displayAs"
        [ngStyle]="{'grid-row': cell.row, 'grid-column': cell.col}">
      {{cell.day + 1}}
    </div>
  </div>
</div>
