.calendar {
  border-width: thin;
  border-style: dotted;
  border-color: gray;
  margin: 5px;
  padding: 5px;
}

.days {
  display: grid;
}

.day {
  margin: 5px;
  padding: 5px;
  border-width: thin;
  border-style: solid;
}

.hide {
  opacity: 0;
}

.level-0 {
  background-color: hsl(240, 0%, 65%);
  border-color: hsl(240, 0%, 30%);
}

.level-1 {
  background-color: hsl(240, 25%, 65%);
  border-color: hsl(240, 25%, 30%);
}

.level-2 {
  background-color: hsl(240, 50%, 65%);
  border-color: hsl(240, 50%, 30%);
}

.level-3 {
  background-color: hsl(240, 75%, 65%);
  border-color: hsl(240, 75%, 30%);
}

.level-4 {
  background-color: hsl(240, 100%, 65%);
  border-color: hsl(240, 100%, 30%);
}
