<div *ngIf="dayFocusService.date">
  <h1>
    Commits on {{getDay()}} {{getMonthName()}} {{getYear()}}:
  </h1>
  <ul>
    <li *ngFor="let activity of getActivitySummary()">{{activity}}</li>
  </ul>
</div>
<!-- TODO: Check why 'else fooBar' & '<ng-template #fooBar>' isn't working -->
<div *ngIf="!dayFocusService.date">
  <h1>Click on a date to see its activities</h1>
<div>
